<template>
    <div class="add-expenditure-view">
      <add-expenditure v-on:add="saveInStore"/>
      <expenditure-list v-bind:value="entries"/>
      <queue-list></queue-list>
    </div>
</template>

<script>
import AddExpenditure from '@/components/AddExpenditure';
import QueueList from '@/components/QueueList';
import ExpenditureList from '@/components/ExpenditureList';
import { mapActions, mapState } from 'vuex';

export default {
  name: 'AddExpenditureView',
  components: {
    AddExpenditure,
    ExpenditureList,
    QueueList
  },
  computed: {
    ...mapState({
      entries: state => {
        return state.entries
          .concat()
          .reverse()
          .slice(0, 5);
      }
    })
  },
  beforeMount: function () {
    this.loadEntries();
  },
  methods: {
    saveInStore: function (data) {
      this.saveEntry(data);
    },
    ...mapActions(['saveEntry', 'loadEntries'])
  }
};
</script>

<style lang="scss">
</style>
