<template>
  <div class="home">
    <expenditure-list></expenditure-list>
    <queue-list></queue-list>
  </div>
</template>

<script>
// @ is an alias to /src
import ExpenditureList from '@/components/ExpenditureList.vue';
import QueueList from '@/components/QueueList.vue';

export default {
  name: 'home',
  components: {
    QueueList,
    ExpenditureList
  }
};
</script>
