<template>
    <div class="add-expenditure">
        <form @submit.prevent novalidate>
            <label :class="{error: !fieldsValidity.price}">Price
                <masked-input name="price"
                              v-model='price'
                              :mask="numberMask"
                />
            </label>
            <select v-model="currency">
                <option value="eur">eur</option>
                <option value="chf">chf</option>
            </select>
            <label :class="{error: !fieldsValidity.date}">Date
                <masked-input name="date"
                              v-model="date"
                              :pipe="datePipe"
                              :mask="dateMask"
                />
            </label>
            <template v-for="group in groups">
                <label :key="group" :class="{error: !fieldsValidity.selectedGroups}">{{ group }}
                    <input type="checkbox" :value="group" v-model="selectedGroups" name="group"/>
                </label>
            </template>
            <button :disabled="!isValid" @click="save">Add</button>
        </form>
    </div>
</template>

<script>
import MaskedInput from 'vue-text-mask';
import createAutoCorrectedDatePipe from 'text-mask-addons/dist/createAutoCorrectedDatePipe';
import createNumberMask from 'text-mask-addons/dist/createNumberMask';
import { stringToDate, dateToString, isDate, isDefined, isFilledArray } from '../lib/utils';

const autoCorrectedDatePipe = createAutoCorrectedDatePipe('dd/mm/yyyy');
const dateSeparator = '/';
const thousandsSeparatorSymbol = ',';

export default {
  name: 'AddExpenditureComponent',
  components: {
    MaskedInput
  },
  computed: {
    numberMask: function () {
      return createNumberMask({
        prefix: '',
        thousandsSeparatorSymbol,
        allowDecimal: true,
        requireDecimanl: true
      });
    },
    datePipe: () => autoCorrectedDatePipe,
    dateMask: () => [
      /\d/,
      /\d/,
      dateSeparator,
      /\d/,
      /\d/,
      dateSeparator,
      /\d/,
      /\d/,
      /\d/,
      /\d/
    ],
    fieldsValidity: function () {
      return {
        date: isDate(this.date, this.dateMask),
        price: isDefined(this.price),
        selectedGroups: isFilledArray(this.selectedGroups),
        currency: isDefined(this.currency)
      };
    },
    isValid: function () {
      function fieldHasNoErrors (fields, field) {
        return fields[field] === true;
      }

      return Object
        .keys(this.fieldsValidity)
        .every(fieldHasNoErrors.bind(this, this.fieldsValidity));
    }
  },
  data: () => {
    return {
      price: '',
      date: dateToString(new Date(), dateSeparator),
      currency: 'eur',
      groups: ['a', 'b', 'c'],
      selectedGroups: []
    };
  },
  methods: {
    save: function (event, ctx) {
      if (!this.isValid) {
        return;
      }

      const numRe = new RegExp(thousandsSeparatorSymbol, 'g');
      const entry = {
        date: stringToDate(this.date, dateSeparator),
        price: parseFloat(this.price.replace(numRe, thousandsSeparatorSymbol)),
        groups: this.selectedGroups,
        currency: this.currency
      };

      console.log('add entry. ', entry);

      this.$emit('add', entry);
    }
  }
};
</script>

<style>
.error {
  color: #f00;
}
</style>
