<template>
  <div class="list">
    <h2>List Component</h2>
    <div>
      <button>Oggi</button>
      <button v-on:click="loadEntriesWeekly">Settimana</button>
      <button v-on:click="loadEntriesMonthly">Mese</button>
    </div>
    <ul>
      <template v-for="(entry, index) in entries">
        <li v-bind:key="index">{{`${entry.price} | ${entry.currency} | ${entry.categories} | ${new Date(entry.timestamp).toISOString()} | ${entry.categories} }` }}</li>
      </template>
    </ul>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import {getMonday, getSunday, getFirstDateOfMonth, getLastDateOfMonth} from '../lib/utils';

export default {
  name: 'ExpenditureListComponent',
  computed: {
    ...mapState({
      entries: state => {
        return state.entries
          .concat()
          .reverse()
      }
    })
  },
  props: [
    'loadAtStart'
  ],
  beforeMount: function () {
    this.loadEntries();
  },
  methods: {
    loadEntriesWeekly() {
      this.loadEntries({ 
        msFrom: getMonday(), 
        msTo: getSunday()
      });
    },

    loadEntriesMonthly() {
      this.loadEntries({ 
        msFrom: getFirstDateOfMonth(),
        msTo: getLastDateOfMonth()
      })
    },

    ...mapActions(['loadEntries'])
  }
};
</script>

<style scoped lang="scss">
</style>
