<template>
  <div class="queue-list">
    <h3>Queued:</h3>
    <ol>
      <template v-for="(entry, index) in entries">
        <li v-bind:key="index">{{`${entry.price} | ${entry.currency} | ${entry.groups} | ${entry.date}` }}</li>
      </template>
    </ol>
  </div>
</template>

<script>
import IDBStorage from '../lib/IDBStorage';

export default {
  name: 'QueueListComponent',
  beforeMount() {
    this.getEntries();
    IDBStorage.getInstance().then(idb => {
      console.log('qeeeeeeee: ', idb);
      idb.addEventListener('success', () => {
        console.log('OPERATION OK', evt);
      });
    });
  },
  data: () => {
    return { entries: [] };
  },
  methods: {
    getEntries: function() {
      IDBStorage
        .getEntries()
        .then((entries) => this.entries = entries );
    }
  }
}
</script>
