
<template>
  <div id="app">
    <div id="nav">
      <router-link to="/add">Add</router-link> |
      <router-link to="/">List</router-link>
    </div>
    <button type="button" @click="status">Status</button>
    <button type="button" @click="login">Login</button>
    <button type="button" @click="getOutlays">Get outlays</button>
    <button type="button" @click="add">Add outlays</button>
    <router-view/>
  </div>
</template>

<script>
import { login, status, getOutlays, addOutlay } from './lib/api';

export default {
  name: 'AppComponent',
  methods: {
    login,
    status,
    getOutlays,
    add: () => addOutlay(Math.round(Math.random() * 100) / 10, 'chf', (new Date()).getTime(), { 'categories': [1, 2, 3] })
  }
};
</script>

<style lang="scss">
</style>
